.alert {
  @include border-radius(all, $border-radius);
  @include flexbox(center, center);
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgba(map-get($theme-palette, color-1), 1);
  color: map-get($theme-palette, color-2);
  width: 15rem;
  height: 5rem;
  text-align: justify;
  z-index: 100000;

  &__message {
    width: 90%;
    margin: auto;
  }
}
