.avatar {
  @include flexbox(center, center);
  @include border-radius(all, 100%);
  background-color: map-get($theme-palette, color-6);
  width: 3rem;
  height: 3rem;

  &:hover {
    cursor: pointer;
    color: map-get($theme-palette, color-4);
  }

  &__icon {
    font-size: 1.5rem;
  }
}
