.card-link {
  @include flexbox();
  flex-direction: column;
  min-width: $item-width;
  max-width: $item-width;
  margin-left: $item-margin / 2;
  margin-right: $item-margin / 2;
  margin-bottom: 2.5rem;
  width: calc(100% / #{map-get($items-per-row, md)} - #{$item-margin} - 0.01px);
  max-height: $item-width * 2;
  position: relative;

  &__image {
    @include border-radius(all, 100%);
    min-width: $item-width;
    max-width: $item-width;
    width: calc(
      100% / #{map-get($items-per-row, md)} - #{$item-margin} - 0.01px
    );
    min-height: $item-width;
    max-height: $item-width;

    &--favorites {
      @include flexbox(center, center);
      background-color: map-get($theme-palette, color-6);
      .favorites__icon {
        color: map-get($theme-palette, color-2);
        font-size: 7rem;
      }
    }
  }

  &__title {
    text-align: center;
    width: 100%;
    line-height: 2rem;
    height: 4rem;
    max-height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  &__content {
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  &__overlay {
    display: none;
  }

  &:hover {
    .card-link {
      &__overlay {
        @include border-radius(all, 100%);
        @include flexbox(center, center);
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        min-height: $item-width;
        max-height: $item-width;
        width: 100%;
        z-index: 1;
        color: $overlay-text-color;
        font-size: 1.2rem;

        &--play {
          @include border-radius(all, 100%);
          @include margin(right, sm);
          background-color: map-get($theme-palette, color-1);
          height: 2rem;
          width: 2rem;
        }
      }

      &__title {
        color: map-get($theme-palette, color-1);
      }
    }
  }
}
