.row {
  @include flexbox();
  flex-wrap: wrap;
  margin: auto;

  &--inline {
    @include margin(top, md);
    flex-wrap: initial;
    overflow-x: scroll;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &:not(&--inline) {
    @each $key, $value in $breakpoints {
      @if $key != #{xxs} {
        @include respond-above($key) {
          min-width: calc(
            #{map-get($items-per-row, $key)} * (#{$item-width} + #{$item-margin})
          );
          max-width: calc(
            #{map-get($items-per-row, $key)} * (#{$item-width} + #{$item-margin})
          );
        }
      } @else {
        min-width: calc(
          #{map-get($items-per-row, xxs)} * (#{$item-width} + #{$item-margin})
        );
        max-width: calc(
          #{map-get($items-per-row, xxs)} * (#{$item-width} + #{$item-margin})
        );
      }
    }
  }
}
