.channel {
  &__data {
    @include flexbox(space-between, center);
  }

  &__image {
    @include depth(2);
  }

  &__description {
    @include padding(x, md);
    text-align: justify;
    line-height: 1.5rem;
    display: none;
  }

  &__play {
    @include flexbox(space-evenly, center);
    @include margin(top, md);
    &--button {
      @include flexbox(center, center);
      @include padding(all, sm);
      @include border-radius(all, $border-radius);
      background-color: transparent;
      color: map-get($theme-palette, color-5);
      border: none;
      outline: none;
      cursor: pointer;
      &-outline {
        border: 1px solid map-get($theme-palette, color-1);
        color: map-get($theme-palette, color-1);
        &:hover {
          background-color: map-get($theme-palette, color-1);
          color: map-get($theme-palette, color-3);
        }
      }
    }
  }

  @include respond-above(xs) {
    &__description {
      display: initial;
    }
  }
}
