.dropdown {
  position: relative;
  display: inline-block;

  &__content {
    @include margin(top, md);
    @include depth(2);
    @include border-radius(all, $border-radius);
    display: none;
    position: absolute;
    right: 0;
    background-color: $dropdown-color;
    min-width: 10rem;
    width: max-content;
    z-index: 1;

    &.d-none {
      display: none;
    }

    &.d-flex {
      @include flexbox();
      flex-direction: column;
    }

    a,
    button {
      @include padding(all, md);
      color: map-get($theme-palette, color-5);
      text-decoration: none;

      &:hover {
        color: map-get($theme-palette, color-1);
      }
    }
  }

  &__button.selected {
    background-color: map-get($theme-palette, color-1);
    color: map-get($theme-palette, color-2);
  }

  &__option {
    &--divider {
      @include margin(y, sm);
      height: 1px;
      width: 100%;
      background-color: map-get($theme-palette, color-6);
    }

    &--button {
      background-color: transparent;
      border: none;
      outline: none;
    }

    &--icon {
      @include flexbox($y: center);
      width: 100%;
      height: 100%;
      cursor: pointer;

      span :nth-of-type(1) {
        @include margin(right, sm);
      }
    }
  }
}
