.form {
  @include flexbox(center, center);
  flex-direction: column;
  min-width: 100%;

  &__input {
    @include padding(all, md);
    @include margin(y, md);
    @include border-radius(all, $border-radius);
    background-color: map-get($theme-palette, color-6);
    color: map-get($theme-palette, color-5);
    border: 0;
    min-width: 100%;
    outline: none;
  }

  &__submit {
    @include border-radius(all, $border-radius);
    background-color: transparent;
    color: map-get($theme-palette, color-5);
    border: none;
    outline: none;
    cursor: pointer;

    &--block {
      @include padding(all, md);
      @include margin(y, md);
      min-width: 100%;
    }

    &--outline {
      border: 1px solid map-get($theme-palette, color-1);
      color: map-get($theme-palette, color-1);

      &:hover {
        background-color: map-get($theme-palette, color-1);
        color: map-get($theme-palette, color-3);
      }
    }
  }

  @include respond-above(xs) {
    max-width: 50%;
    margin: auto;
  }

  @include respond-above(lg) {
    max-width: 25%;
    margin: auto;
  }
}
