.logo {
  @include flexbox($y: center);
  color: map-get($theme-palette, color-4);
  text-decoration: none;

  &__icon {
    color: map-get($theme-palette, color-1);
    font-size: 3rem !important;
  }

  &__text {
    display: none;
    letter-spacing: -2px;
  }

  &--color-revert {
    color: map-get($theme-palette, color-3);

    .logo__icon {
      color: map-get($theme-palette, color-3);
    }

    .logo__text {
      display: initial;
    }
  }

  &:not(&--color-revert):hover .logo__icon {
    animation-name: multicolor;
    -webkit-animation-name: multicolor;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }

  @include respond-above(xs) {
    &__text {
      @include margin(y, none);
      display: initial;
    }
  }
}
