.player__progress {
  &--bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
  }
}

.player-container {
  width: 100%;
}

.player {
  @include flexbox(space-between, center);
  flex: 1;

  svg {
    color: map-get($theme-palette, color-5);
  }

  &--left,
  &--right,
  &--center {
    @include flexbox(center, center);
  }

  &--center {
    flex-direction: column;
  }

  &__time {
    padding-bottom: 0.3rem;
  }

  &-controls {
    @include flexbox(center, center);
    &__button {
      background-color: transparent;
      border: none;
      outline: none;
      &:hover {
        cursor: pointer;
        svg {
          color: map-get($theme-palette, color-1);
        }
      }

      &--play > svg,
      &--pause > svg {
        font-size: 3rem !important;
      }
    }
  }

  &__song {
    text-align: center;
    flex: 3;
    a {
      color: map-get($theme-palette, color-5);
      text-decoration: none;
    }
    &--name {
      @include margin(top, none);
      @include margin(bottom, sm);
      font-weight: bold;
    }
    &--other {
      font-size: 0.85rem;
    }
  }

  &__volume {
    @include flexbox(center, center);
    &--icon {
      @include margin(right, sm);
    }
    &--bar {
      cursor: pointer;
    }
  }

  &__options .player-options {
    &__button {
      background-color: transparent;
      border: none;
      &:hover,
      &:focus {
        outline: none;
        cursor: pointer;
      }

      &:hover,
      &--active {
        svg {
          color: map-get($theme-palette, color-1);
        }
      }
    }
  }

  @include respond-below(sm) {
    &__volume,
    &__options {
      display: none;
    }
    &--center,
    &__player-song {
      @include margin(right, sm);
      text-align: right;
      align-items: flex-end;
    }
  }

  @include respond-below(xs) {
    &--left {
      flex-direction: column;
    }

    &__song--name {
      @include margin(top, none);
    }
  }
}

.player,
.player__progress {
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="range"] {
      overflow: hidden;
      -webkit-appearance: none;
      background-color: map-get($theme-palette, color-6);
      outline: none;

      &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        color: map-get($theme-palette, color-1);
      }

      &::-webkit-slider-thumb {
        width: 10px;
        -webkit-appearance: none;
        height: 10px;
        cursor: pointer;
        background: map-get($theme-palette, color-1);
        box-shadow: -100vw 0 0 100vw map-get($theme-palette, color-1);
      }
    }
  }

  input[type="range"] {
    &::-moz-range-progress,
    &::-ms-fill-lower {
      background-color: map-get($theme-palette, color-1);
    }
    &::-moz-range-track,
    &::-ms-fill-upper {
      background-color: map-get($theme-palette, color-6);
    }
  }
}
