.search-bar {
  @include flexbox(space-between, center);
  @include padding(all, sm);
  @include border-radius(all, $border-radius);
  background-color: map-get($theme-palette, color-6);
  max-width: 100%;
  height: 3rem;

  &__input {
    background-color: transparent;
    border: none;
    color: map-get($theme-palette, color-5);
    outline: none;
    flex: 1;
    max-width: 80%;
  }

  &__link {
    color: map-get($theme-palette, color-5);

    &:hover {
      color: map-get($theme-palette, color-4);
    }
  }

  @include respond-above(xs) {
    &__input {
      max-width: none;
    }
  }
}
