.search-bar__history {
  &--dropdown {
    position: relative;
    display: inline-block;

    @include margin(top, md);
    @include depth(2);
    @include border-radius(all, $border-radius);
    display: none;
    position: absolute;
    right: 0;
    background-color: $dropdown-color;
    min-width: 10rem;
    width: max-content;
    z-index: 10000;

    &.d-none {
      display: none;
    }

    &.d-flex {
      @include flexbox();
      flex-direction: column;
    }
  }
}
