.settings {
  &__container {
    @include border-radius(all, $border-radius);
    @include padding(all, lg);
    @include margin(bottom, xl);
    background-color: map-get($theme-palette, color-2);
  }
}
