.user-layout {
  width: 100%;
  height: 100%;
  text-align: center;

  &__container {
    &--top {
      @include flexbox(center, center);
      @include padding(all, xl);
      background-color: transparentize(map-get($theme-palette, color-1), 0.1);
      color: map-get($theme-palette, color-3);
    }

    &--bottom {
      @include flexbox(center, center);
      @include margin(y, lg);
      flex-direction: column;
      text-align: center;
    }

    &--link {
      @include margin(bottom, lg);
      color: map-get($theme-palette, color-1);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.signin {
  &__form {
    @include border-radius(all, $border-radius);
    @include padding(all, lg);
    background-color: map-get($theme-palette, color-2);
  }

  &__footer {
    &--divider {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid map-get($theme-palette, color-6);
      margin: 1em 0;
      padding: 0;
    }
  }
}
