.table-list {
  @include flexbox();
  flex-direction: column;
  width: 100%;

  &__row {
    @include flexbox(space-between, center);
    @include border-radius(all, $border-radius);
    @include margin(bottom, sm);
    @include padding(all, sm);
    width: 100%;
    min-height: 5rem;
    max-height: 5rem;

    &--selected,
    &:hover {
      background-color: map-get($theme-palette, color-2);
      .table-list__data--play {
        color: $overlay-text-color;
        background-color: map-get($theme-palette, color-1);
      }
    }
  }

  &__data {
    @include margin(x, sm);
    &--play {
      @include flexbox(center, center);
      @include border-radius(all, 100%);
      @include margin(right, md);
      height: 2rem;
      width: 2rem;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .data {
    &__content {
      flex: 1;
      @include flexbox();
      flex-direction: column;
      &--display-sm {
        display: none;
      }
      &--title {
        @include margin(bottom, xs);
        font-weight: bold;
      }
    }
    &__options {
      &--favorites,
      &--queue {
        display: none;

        &:hover {
          cursor: pointer;
          color: map-get($theme-palette, color-1);
        }
      }
      &--active {
        color: map-get($theme-palette, color-1);
      }
    }
  }

  @include respond-above(sm) {
    &__data {
      &--xs {
        width: 10%;
      }

      &--sm {
        width: 20%;
      }

      &--md {
        width: 45%;
      }

      &--lg {
        width: 40%;
      }

      &--xl {
        width: 60%;
      }
    }
    .data {
      &__content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &--display {
          &-xs {
            display: none;
          }
          &-sm {
            @include flexbox(space-between, center);
          }
        }
      }
      &__options {
        &--favorites,
        &--queue {
          display: initial;
        }

        &--more {
          display: none;
        }
      }
    }
  }
}
