.theme,
.locale {
  &:not(:first-of-type) {
    @include margin(top, xl);
  }

  ul {
    @include flexbox();
    flex-wrap: wrap;

    li {
      @include margin(all, sm);
      width: 10rem;
    }
  }

  &__text,
  &__color,
  &__icon {
    @include flexbox($y: center);
    @include padding(all, sm);

    &--selected,
    &:hover {
      @include border-radius(all, $border-radius);
      background-color: map-get($theme-palette, color-6);
      cursor: pointer;
    }
  }

  .text__circle {
    @include border-radius(all, 100%);
    @include margin(right, sm);
    font-weight: bold;
    font-size: 1.15rem;
  }

  .color__circle,
  .icon__circle {
    @include border-radius(all, 100%);
    @include margin(right, sm);

    height: 1.5rem;
    width: 1.5rem;

    &--blue {
      background-color: map-get($app-themes-color, blue);
    }

    &--green {
      background-color: map-get($app-themes-color, green);
    }

    &--teal {
      background-color: map-get($app-themes-color, teal);
    }

    &--purple {
      background-color: map-get($app-themes-color, purple);
    }

    &--orange {
      background-color: map-get($app-themes-color, orange);
    }

    &--pink {
      background-color: map-get($app-themes-color, pink);
    }

    &--red {
      background-color: map-get($app-themes-color, red);
    }

    &--yellow {
      background-color: map-get($app-themes-color, yellow);
    }
  }
}
