.top-nav {
  &__item {
    max-width: 25%;

    &--center {
      max-width: 50%;
    }
  }
  &__user--display-name {
    text-align: right;
    display: none;
  }

  @include respond-above(xs) {
    &__item {
      flex: 1;
      &--center {
        flex: 2;
      }
    }

    &__user {
      @include flexbox(flex-end, center);
      &--display-name {
        @include margin(all, sm);
        display: initial;
      }
    }
  }
}
