$theme-palette: (
  color-1: #f27eb9,
  color-2: #191b1d,
  color-3: #202224,
  color-4: #e8ebea,
  color-5: #8c8e90,
  color-6: #222426,
);

$color-1-trans: rgba(map-get($theme-palette, color-1), 0.3);
$divider-color: map-get($theme-palette, color-5);
$dropdown-color: #303030;
$overlay-text-color: map-get($theme-palette, color-4);
$fav-img-path: "";

@import "../main.scss";
