$theme-palette: (
  color-1: #ad94fa,
  color-2: #fafafa,
  color-3: #ffffff,
  color-4: #191919,
  color-5: #646464,
  color-6: #ededed,
);

$color-1-trans: rgba(map-get($theme-palette, color-1), 0.3);
$divider-color: map-get($theme-palette, color-6);
$dropdown-color: #ffffff;
$overlay-text-color: map-get($theme-palette, color-2);
$fav-img-path: "";

@import "../main.scss";
