@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes multicolor {
  0% {
    color: map-get($app-themes-color, green);
  }
  7% {
    color: map-get($app-themes-color, teal);
  }
  14% {
    color: map-get($app-themes-color, blue);
  }
  21% {
    color: map-get($app-themes-color, purple);
  }
  28% {
    color: map-get($app-themes-color, pink);
  }
  35% {
    color: map-get($app-themes-color, red);
  }
  42% {
    color: map-get($app-themes-color, orange);
  }
  49% {
    color: map-get($app-themes-color, yellow);
  }
  56% {
    color: map-get($app-themes-color, orange);
  }
  63% {
    color: map-get($app-themes-color, red);
  }
  70% {
    color: map-get($app-themes-color, pink);
  }
  77% {
    color: map-get($app-themes-color, purple);
  }
  84% {
    color: map-get($app-themes-color, blue);
  }
  91% {
    color: map-get($app-themes-color, teal);
  }
  100% {
    color: map-get($app-themes-color, green);
  }
}

@-webkit-keyframes multicolor {
  0% {
    color: map-get($app-themes-color, green);
  }
  7% {
    color: map-get($app-themes-color, teal);
  }
  14% {
    color: map-get($app-themes-color, blue);
  }
  21% {
    color: map-get($app-themes-color, purple);
  }
  28% {
    color: map-get($app-themes-color, pink);
  }
  35% {
    color: map-get($app-themes-color, red);
  }
  42% {
    color: map-get($app-themes-color, orange);
  }
  49% {
    color: map-get($app-themes-color, yellow);
  }
  56% {
    color: map-get($app-themes-color, orange);
  }
  63% {
    color: map-get($app-themes-color, red);
  }
  70% {
    color: map-get($app-themes-color, pink);
  }
  77% {
    color: map-get($app-themes-color, purple);
  }
  84% {
    color: map-get($app-themes-color, blue);
  }
  91% {
    color: map-get($app-themes-color, teal);
  }
  100% {
    color: map-get($app-themes-color, green);
  }
}
