// Computes a top-shadow for a depth effect.
// @param {Number} $depth - Depth level.
// @return {List} - Box shadow attributes.
@function top-shadow($depth) {
  $primary-offset: nth($shadow-offsets-top, $depth) * 1px;
  $blur: nth($shadow-blurs-top, $depth) * 4px;
  $color: rgba(black, nth($shadow-opacities-top, $depth));

  @return 0 $primary-offset $blur $color;
}

// Computes a bottom-shadow for a depth effect.
// @param {Number} $depth - Depth level.
// @return {List} - Box shadow attributes.
@function bottom-shadow($depth) {
  $primary-offset: nth($shadow-offsets-bottom, $depth) * 1px;
  $blur: nth($shadow-blurs-bottom, $depth) * 5px;
  $color: rgba(black, nth($shadow-opacities-bottom, $depth));

  @return 0 $primary-offset $blur $color;
}
