* {
  @include border-box;
}

html,
body,
#root {
  @include margin(all, none);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: $font-stack;
  background-color: map-get($theme-palette, color-3);
  color: map-get($theme-palette, color-5);
}

footer,
header {
  @include flexbox(space-between, center);
  @include padding(all, sm);
  background-color: map-get($theme-palette, color-2);
  height: $topnav-height;
  max-height: $topnav-height;
  position: fixed;
  width: 100%;
  z-index: 2;
}

footer {
  bottom: 0;
  min-height: $footer-height;
  height: $footer-height;
}

main {
  .container-fluid__overlay {
    background-color: map-get($theme-palette, color-2);
  }

  &.app-layout {
    margin-top: $topnav-height;
    margin-bottom: $footer-height;

    .container {
      @include padding(y, md);
    }
  }

  a {
    color: map-get($theme-palette, color-5);
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  h2 {
    font-size: 1.4rem;

    @include respond-below(sm) {
      font-size: 1.2rem;
    }
  }

  h3 {
    font-size: 1.2rem;

    @include respond-below(sm) {
      font-size: 1.1rem;
    }
  }

  .container__title {
    @include margin(bottom, xl);
    text-align: center;

    &--left {
      @include margin(left, sm);
      text-align: left;
    }
  }

  .no-results-found__message {
    text-align: center;
    margin: auto;
  }

  @include respond-above(xs) {
    .container {
      max-width: 80%;
      margin: auto;
      &__title--left {
        @include margin(left, none);
      }
    }
  }

  .error-page {
    &__container {
      @include flexbox(center, center);
      flex-direction: column;
      min-height: 100vh;
    }

    &__title {
      @include margin(bottom, sm);
      font-size: 2.5rem;
      color: map-get($theme-palette, color-1);
    }

    &__message {
      @include margin(bottom, xl);
      font-size: 1.2rem;
    }

    &__link {
      @include margin(top, xl);
      color: map-get($theme-palette, color-1);
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
