@mixin border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin flexbox($x: flex-start, $y: flex-start) {
  display: flex;
  justify-content: $x;
  align-items: $y;
}

@mixin border-radius($side, $radius: 0) {
  @if index($border-sides, $side) {
    @if $side == top {
      -webkit-border-top-left-radius: $radius;
      -webkit-border-top-right-radius: $radius;
      -moz-border-top-left-radius: $radius;
      -moz-border-top-right-radius: $radius;
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    } @else if $side == bottom {
      -webkit-border-bottom-left-radius: $radius;
      -webkit-border-bottom-right-radius: $radius;
      -moz-border-bottom-left-radius: $radius;
      -moz-border-bottom-right-radius: $radius;
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    } @else if $side == left {
      -webkit-border-top-left-radius: $radius;
      -webkit-border-bottom-left-radius: $radius;
      -moz-border-top-left-radius: $radius;
      -moz-border-bottom-left-radius: $radius;
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
    } @else if $side == right {
      -webkit-border-top-right-radius: $radius;
      -webkit-border-bottom-right-radius: $radius;
      -moz-border-top-right-radius: $radius;
      -moz-border-bottom-right-radius: $radius;
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
    } @else if $side == top-left {
      -webkit-border-top-left-radius: $radius;
      -moz-border-top-left-radius: $radius;
      border-top-left-radius: $radius;
    } @else if $side == top-right {
      -webkit-border-top-right-radius: $radius;
      -moz-border-top-right-radius: $radius;
      border-top-right-radius: $radius;
    } @else if $side == bottom-left {
      -webkit-border-bottom-left-radius: $radius;
      -moz-border-bottom-left-radius: $radius;
      border-bottom-left-radius: $radius;
    } @else if $side == bottom-right {
      -webkit-border-bottom-right-radius: $radius;
      -moz-border-bottom-right-radius: $radius;
      border-bottom-right-radius: $radius;
    } @else {
      -webkit-border-radius: $radius;
      -moz-border-radius: $radius;
      border-radius: $radius;
    }
  } @else {
    @warn "Invalid border side: #{$side}";
  }
}

@mixin background-image($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin padding($side, $space) {
  @if index($space-sides, $side) and map-has-key($space-sizes, $space) {
    $space: map-get($space-sizes, $space);
    @if $side == all {
      padding: $space;
    } @else if $side == x {
      padding-left: $space;
      padding-right: $space;
    } @else if $side == y {
      padding-top: $space;
      padding-bottom: $space;
    } @else {
      padding-#{$side}: $space;
    }
  } @else {
    @warn "Invalid data: side - #{$side} or space - #{$space}";
  }
}

@mixin margin($side, $space) {
  @if index($space-sides, $side) and map-has-key($space-sizes, $space) {
    $space: map-get($space-sizes, $space);
    @if $side == all {
      margin: $space;
    } @else if $side == x {
      margin-left: $space;
      margin-right: $space;
    } @else if $side == y {
      margin-top: $space;
      margin-bottom: $space;
    } @else {
      margin-#{$side}: $space;
    }
  } @else {
    @warn "Invalid data: side - #{$side} or space - #{$space}";
  }
}

// Gives a depth effect.
// @param {Number} $depth - Depth level (between 1 - 5).
// @requires {Function} top-shadow
// @requires {Function} bottom-shadow
@mixin depth($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid depth: #{$depth}.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);
  }
}

// Responsive queries.
// @param {String} $breakpoint - Media query breakpoint (breakpoints map).
@mixin respond-above($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (min-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else {
    @warn "Invalid breakpoint: #{$breakpoint}.";
  }
}

@mixin respond-below($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else {
    @warn "Invalid breakpoint: #{$breakpoint}";
  }
}
