@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

$font-stack: "Roboto", sans-serif;

$spacer: 1rem;
$topnav-height: 4rem;
$footer-height: 6rem;
$border-radius: 3px;

$items-per-row: (
  xxs: 1,
  xs: 2,
  sm: 3,
  md: 4,
  lg: 5,
  xl: 5,
  xxl: 6,
);

$item-width: 12rem;
$item-margin: 1rem;

$shadow-offsets-top: 1 3 10 14 19;
$shadow-blurs-top: 1.5 5 10 14 19;
$shadow-opacities-top: 0.04 0.1 0.19 0.25 0.3;

$shadow-offsets-bottom: 1 3 6 10 15;
$shadow-blurs-bottom: 3 6 6 5 6;
$shadow-opacities-bottom: 0.04 0.1 0.2 0.22 0.22;

$app-themes-color: (
  blue: #76aafa,
  green: #2ec48d,
  teal: #19beca,
  purple: #ad94fa,
  orange: #fe8b4d,
  pink: #f27eb9,
  red: #f98081,
  yellow: #e4a008,
);

$breakpoints: (
  xxs: 420px,
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1440px,
  xxl: 2000px,
);

$space-sizes: (
  none: 0px,
  auto: auto,
  xs: $spacer * 0.25,
  sm: $spacer * 0.5,
  md: $spacer,
  lg: $spacer * 1.5,
  xl: $spacer * 3,
);

$space-sides: (x, y, all, top, bottom, left, right);
$border-sides: (
  all,
  top,
  bottom,
  left,
  right,
  top-left,
  top-right,
  bottom-left,
  bottom-right
);
